<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Settings</h1>
        <button class="button button-clear button-positive" ng-click="closeSettings()">Back</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <form ng-submit="updateSettings(settings)">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Key</span>
                    <input type="text" placeholder="Insert key" ng-model="settings.key">
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Update {{activeService.settings.key}}</button>
            </div>
        </form>

    </ion-content>

</div>